.b-game-page {
	min-height: 100%;
	background-color: rgba(50, 20, 50, 0.7);
}

.b-game-page .audio__toggle-recording {
	color: #000;
	z-index: 1000;
}

.b-game-page .audio {
	background-color: rgba(50, 20, 50, 0.2);
}

.b-game-page .audio__herz-indicator {
	color: #000;	
}

.audio__wave-canvas {
	display: block;
	position: absolute;
	#left: 0;
	#top: 0;
	z-index: 2;
}

.b-game-page__winner {
	display: none;
}

.b-game-page__gameplay {
	display: none;
}