.b-main-form {
    #background-color: rgba(200, 200, 00, 0.7);
    margin-bottom: -20px;
}

.b-main-login-form {
    #background-color: rgba(200, 200, 00, 0.7);
    margin-bottom: -20px;
}

.b-main-signup-form {
    #background-color: rgba(200, 200, 00, 0.7);
    margin-bottom: -20px;
}

.b-main-login-form-span {
    display: block;
    width: 100%;
}

.b-main-form__control {
    border-radius: 0;
    border: 0px solid #1565c0;
    display: block;
    height: 70px;
    margin-bottom: 20px;
}

a.b-main-form__control:hover {
    background-color: #2575d0;
}

.b-main-form__input {
    color: #546e7a;
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
}

.b-main-form__button {
    background-color: #1565c0;
    color: #eceff1;
    width: 100%;
    line-height: 0.9;
}

.b-main-form__link {
    background-color: #1565c0;
    color: #eceff1;
    text-decoration: none;
    line-height: 2;
    padding-left: 25px;
}