* {
    font-family: 'Lekton', sans-serif;
    font-size: 35px;
    color: #eceff1;
}

body {
    width: 100%;
    margin: 0 0;
    background-image: url('/img/background.jpg');
    #background-size: 100%;
    background-size: cover;
    background-attachment: fixed;
}

.b-outer-main-window {
    display: table;
    font-family: 'Lekton', sans-serif;
    font-size: 35px;
    position: absolute;
    height: 100%;
    width: 100%;
}

.b-middle-main-window {
    display: table-cell;
    vertical-align: middle;
}

.b-inner-main-window {
    margin: 0 auto;
    max-width: 700px;
    padding: 20px;
    background-color: rgba(200, 200, 250, 0.7);
}

.title {
    height: 60px;
    width: 100%;
    margin: 0;
    background-color: #0555b0;
}

.title__game-title {
    font-size: 45px;
    font-weight: bold;
    height: 100%;
    width: 400px;
    padding: 0px 0 0px 50px;
}

.title__backbutton {
    width: 200px;
    text-align: right;
    float: right;
    position: relative;
    padding: 10px 0 10px 0;
}

.b-return-back__button {
    color: #eceff1;
    text-decoration: none;
    #font-size: 50px;
    #border: 2px solid #eceff1;
    padding: 5px;
    margin: 10px 10px 0px 0px;
}

.b-page-title {
    height: 50px;
    background-color: #0555b0;
    padding: 0px 0 10px 50px;
    margin: 0px 0 20px 0px;
}

.b-main-form__control {
    border-radius: 0;
    border: 4px solid #1565c0;
    display: block;
    margin-bottom: 20px;
    height: 50px;
}

a.b-main-form__control:hover {
    background-color: #2575d0;
}

.b-main-form__input {
    color: #546e7a;
    width: 100%;
}

.b-main-form__button {
    background-color: #1565c0;
    color: #eceff1;
    width: 100%;
    line-height: 0.9;
}

.b-main-form__link {
    background-color: #1565c0;
    color: #eceff1;
    padding: 10px;
    padding-left: 25px;
    text-decoration: none;
}

.b-default-hidden-page {
    display: none;
}

.b-players__inner-list{
    margin: 0px 0px 10px 0px;
    overflow-y: scroll;
    max-height: 400px;
}
.b-players__inner-list::-webkit-scrollbar {
    width: 0;
}

.b-main-signup-form__error-message {
    display: none;
    margin: 10px;
}

.b-main-login-form__error-message {
    display: none;
    margin: 10px;
}
