$game_background: rgb(50, 20, 50);
$form_background_color: #1565c0;
$form_font_color: #eceff1;

.b-game-page {
	min-height: 100%;
	background-color: rgba($game_background, 0.7);
	&__winner, &__gameplay {
		display: none;
	}
	.audio {
		position: absolute;
		width: 100%;
		height: 50px;
		background-color: rgba($game_background, 0.2);
		&__toggle-recording {
			border: 0px solid;
			height: 100%;
			width: 100px;
			background-color: $form_background_color;
			line-height: 0.9;
			font-size: 35px;
			color: $form_font_color;
			float: left;
		}
		&__herz-indicator {
			color: #CC0;
			height: 100%;
			width: 50px;
			margin-left: 20px;
			float: left;
			line-height: 1.5;
			font-size: 35px;
		}
		&__toggle-playback-checkbox {
			border: 0px solid;
			height: 45px;
			width: 45px;
			float: left;
		}
		&__toggle-playback {
			border: 0px solid;
			height: 100%;
			width: 300px;
			float: left;
			line-height: 1.5;
			font-size: 35px;
		}
		&__random-sound {
			border: 0px solid;
			height: 100%;
			width: 100px;
			background-color: $form_background_color;
			line-height: 0.9;
			font-size: 35px;
			color: $form_font_color;
			float: left;
		}
	}
	.drawings {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		&__wave-canvas {
			position: absolute;
			width: 100%;
			height: 100%;
		}
	}
}



