$game_background: rgb(50, 20, 50);

.b-game-page {
	min-height: 100%;
	//background-color: rgba($game_background, 0.7);
	&__winner, &__gameplay {
		display: none;
	}
	.audio {
		position: absolute;
		width: 100%;
		height: 50px;
		//background-color: rgba($game_background, 0.2);
		&__toggle-recording {
			color: #000;
		}
		&__herz-indicator {
			color: #CC0;
		}
	}
	.drawings {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		&__wave-canvas {
			position: absolute;
			width: 100%;
			height: 100%;
		}
	}
}



