body {
	width: 100%;
	margin: 0 0;
	background-image: url('/img/background_.jpg');
	background-size: 100%;
	background-size: cover;
	background-attachment: fixed;
	color: #eceff1;
	font-family: 'Lekton', sans-serif;
	font-size: 35px;

	.b-outer-main-window {
		display: table;
		position: absolute;
		height: 100%;   
		width: 100%;
	}

	.b-middle-main-window {
		display: table-cell;
		vertical-align: middle;
	}

	.b-inner-main-window {
		margin: 0 auto;
		max-width: 700px;
		padding: 20px;
		background-color: rgba(200, 200, 250, 0.7);
		&_fullscreen {
			width: 100%;
			height: 100%;
		}
	}
	.b-default-hidden-page {
		display: none;
	}

	.b-players__inner-list{
		margin: 0px 0px 10px 0px;
		overflow-y: scroll;
		max-height: 400px;
		&::-webkit-scrollbar {
			width: 0;
		}
	}
	
	.b-main-signup-form__error-message, .b-main-login-form__error-message{
		display: none;
		margin: 10px;
	}
	
	.b-preloader {
	    position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: #0555b0;
	    z-index: 1000;  
    }

    @-moz-keyframes spin {
        from { -moz-transform: rotate(0deg); }
        to { -moz-transform: rotate(360deg); } 
    } 
    
    @-webkit-keyframes spin {
        from { -webkit-transform: rotate(0deg); }
        to { -webkit-transform: rotate(360deg); } 
    } 
    
    @keyframes spin {
        from { transform: rotate(0deg); }
        to { transform: rotate(360deg); } 
    } 
          
    .b-preloader_image {
        position: absolute;
        left: calc(50% - 50px);
        top: calc(50% - 100px);
        -webkit-animation: 0.4s spin infinite linear;
        -ms-animation: 0.4s spin infinite linear;
        animation: 0.4s spin infinite linear;
        z-index: 1010;
    }

}

@import '_main';
@import '_header';
@import '_game';
